bitsandbytes==0.35.4
einops==0.4.1
transformers==4.30.2
httpx==0.24.1
gradio_client==0.5.0
gradio==3.41.2
accelerate==0.29.1
timm==0.9.2
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
wandb
opencv-python
diffusers
requests